.box {
  margin-bottom: var(--gap-xl);
  width: 100%;
  max-width: 400px;
  position: relative;
}

.label {
  margin-bottom: var(--gap-sm);
  color: var(--gold-color);
  font-size: 16px;
}

.input {
  width: 100%;
  height: 45px;
  padding: 0 var(--gap-md);
  background-color: var(--input-bg);
  border: 1px solid var(--gold-color);
  border-radius: 4px;
  color: white;
  transition: var(--transition);
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.2);
}

.input:focus {
  outline: none;
  border-color: var(--gold-color);
  box-shadow: var(--shadow-gold-hover),
  0 0 30px rgba(255, 215, 0, 0.2);
}

.input:hover {
  box-shadow: 0 0 12px rgba(255, 215, 0, 0.3);
}

.input::placeholder {
  color: rgba(255, 215, 0, 0.5);
}